
                <div class="avatar">
                        <img class="img-rounded propic" width="150px" height="150px" src="resource/pro-pic.jpg">
                    </div>
                    <div class="profile-info">
                        <div class="profile-name">{{user.name}}</div>
                        <div class="profile-details">{{user.location}}</div>
                        <div class="profile-details">Last online now</div>
                    </div>
                    <a href="#!edit">
                        <div class=" edit">Edit&nbsp;&nbsp;<span class="glyphicon glyphicon-edit"></span></div>
                    </a>